@model List<LibManage.DTOs.Review.ReviewDto>
@{
    ViewData["Title"] = "Book Reviews";
}

<h2>Book Reviews</h2>

<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Book</th>
            <th>Member</th>
            <th>Rating</th>
            <th>Comment</th>
            <th>Date</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var review in Model)
        {
            <tr>
                <td><h6>@review.BookTitle</h6></td>
                <td>@review.MemberName</td>
                <td>@review.Rating</td>
                <td>@review.Comment</td>
                <td>@review.CreatedDate.ToShortDateString()</td>
                <td>
                    @{
                        if(User.Identity.Name == review.MemberName)
                        {
                            <a asp-action="Delete" asp-route-id="@review.Id" class="btn btn-sm btn-danger">Delete</a>
                        }
                        else
                        {
                            <div class="text-secondary" style="font-size:15px">None</div>                        }
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
<a asp-action="Create" class="btn btn-primary">Add Review</a>

