@model LibManage.ViewModels.BookViewModel
@{
    ViewData["Title"] = "Book Details";
}

<h2>Book Details</h2>

<div class="card p-4 shadow rounded">
    <h4>@Model.Title</h4>

    <dl class="row">
        <dt class="col-sm-3">ISBN</dt>
        <dd class="col-sm-9">@Model.ISBN</dd>

        <dt class="col-sm-3">Published Date</dt>
        <dd class="col-sm-9">@Model.PublishedDate.ToShortDateString()</dd>

        <dt class="col-sm-3">Stock</dt>
        <dd class="col-sm-9">@Model.Stock</dd>

        <dt class="col-sm-3">Author</dt>
        <dd class="col-sm-9">@Model.Author?.FirstName</dd>

        <dt class="col-sm-3">Genre</dt>
        <dd class="col-sm-9">@Model.Genre?.Name</dd>
    </dl>

    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary">Edit</a>
    <a asp-action="Index" class="btn btn-secondary">Back to List</a>
</div>
